.box-grids {
    width: 99%;
    display: flex;
    flex-direction: column;

    .box-view {
        &-grid {
            .box {
                float: left;
                position: relative;
                background-color: $white;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: none;
                border: none;
                width: 16vw;
                height: 16vw;
                margin: 0.5vw;
                @media screen and (max-width: $pad-width) {
                    width: 32vw;
                    height: 32vw;
                }
                transition: 0.2s ease-in-out;

                span {
                    @extend .text-box;
                    background-color: $primary-color;
                }

                &-label {
                    position: absolute;
                    padding: 5px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    font-weight: $font-weight-semi-bold;
                    font-size: $font-size-m;
                    @media screen and (max-width: $phone-width) {
                        font-size: $font-size-xs;
                    }
                }

                &-allergies {
                    display: none;
                }

                &-notlifestyle {
                    display: none;
                }

                &:hover {
                    z-index: 1;
                    transform: scale(1.3);

                    .box-allergies {
                        display: block;
                        position: absolute;
                        top: 3%;
                        left: 3%;
                        color: $error-color;
                        font-size: $font-size-xs;
                        padding: 2px;
                        background-color: $white;
                        @media screen and (max-width: $phone-width) {
                            font-size: 9px;
                            font-weight: $font-weight-light;
                        }
                    }

                    .box-notlifestyle {
                        display: block;
                        position: absolute;
                        position: absolute;
                        bottom: 3%;
                        right: 3%;
                        text-align: right;
                        color: $warning-color;
                        font-size: $font-size-xs;
                        padding: 2px;
                        background-color: $white;
                        @media screen and (max-width: $phone-width) {
                            font-size: 9px;
                            font-weight: $font-weight-light;
                        }
                    }
                }
            }
        }
    }

}
