.box-grids {
    width: 100%;
    display: flex;
    flex-direction: column;

    .box-view {
        width: 95%;

        &-grid {
            .box {
                float: left;
                position: relative;
                background-color: $white;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: none;
                border: none;
                width: 15vw;
                height: 15vw;
                margin: 0.5vw;
                @media screen and (max-width: $pad-width) {
                    width: 30vw;
                    height: 30vw;
                }
                transition: 0.2s ease-in-out;
                &:hover {
                    z-index: 1;
                    transform: scale(1.3);
                }

                span {
                    @extend .opactiy-box;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    font-weight: $font-weight-semi-bold;
                    font-size: $font-size-m;
                    @media screen and (max-width: $phone-width) {
                        font-size: $font-size-xs;
                    }
                }
            }
        }
    }

}
