.cooking-page {
    @extend .page;

    .substitutes-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: $phone-width) {
            width: 95%;
        }

        .substitute {
            @extend .box;
            width: 80%;
            font-size: $font-size-xs;
            font-weight: $font-weight-light;
            text-align: center;
            margin: 0 auto 10px;
            padding: 15px 20px;
            background-color: $success-color;

            display: flex;
            flex-direction: row;

            .substitute-btn {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: left;
                text-align: left;
                line-height: $font-size-xs + 8px;
                margin: 10px 10px;
            }
            
            .substitute-cancel-btn {
                img {
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 15px;
                }
            }
        }
    }  
    
}