.cooking-page {
    @extend .page;

    .cooking-succ-message {
        width: 100%;
    }

    .ingredients-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;

        .ingredient {
            @extend .box;
            width: 80%;
            font-size: $font-size-xs;
            font-weight: $font-weight-light;
            text-align: center;
            margin: 0 auto 10px;
            padding: 15px 20px;

            display: flex;
            flex-direction: row;

            &-content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: left;
                text-align: left;
                line-height: $font-size-xs + 8px;
                padding: 10px 10px;

                .name-score {
                    display: flex;
                    flex-direction: row;
                    @media screen and (max-width: $phone-width) {
                        flex-direction: column;
                    }
                    font-weight: $font-weight-medium;

                    .name {
                        flex-grow: 1;
                    }

                    .nutriscore {
                        color: $success-color;
                    }
                }
            }

            &-x-btn {
                img {
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 15px;
                }
            }
        }
    }

    .edit-ingredients-container {
        @extend .ingredients-container;
        width: 60%;

        &-form {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            width: 100%;
            @media screen and (max-width: $phone-width) {
                display: flex;
                flex-direction: column;
                align-content: center;
            }

            &-amount {
                display: inline-flex;

                input {
                    text-align: right;
                    margin: auto;
                    padding-right: 5px;
                    width: 40px;
                }

                span {
                    padding-right: 10px;
                    margin: auto;
                }
            }

            .datalist-input-input {
                max-width: 250px;
                margin-bottom: 0px;
            }

            button {
                margin-left: 20px;
            }
        }
    }
}