.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $white;
    height: $navbar-height;
    box-shadow: $box-shadow-base;

    li {
        float: left;

        &.item-right {
            float: right;
        }

        a {
            @extend .aria-element;
            height: $navbar-height;
            display: block;
            color: $primary-color;
            text-align: center;
            text-decoration: none;

            /* Change the link color to black on hover */
            &:hover {
                background-color: $hover-primary-color;
            }

            &.current-page {
                pointer-events: none;
                cursor: default;
                text-decoration: none;
                background-color: $background-color;
                color: $secondary-color;
            }

            .text-item {
                padding: 14px 16px;
                @media screen and (max-width: $phone-width) {
                    padding: 14px 10px;
                }
                margin: 0;
            }
        }

        .icon-item {
            @extend .aria-element;
            height: $navbar-height;
            background-color: $white;
            border: none;
            img {
                height: 100%;
                padding: 8px 16px;
                @media screen and (max-width: $phone-width) {
                    padding: 8px 10px;
                }
                margin: 0;
            }
        }
    }
}
