.password-container {
    @extend .page;

    .pw-form {
        @extend .box;
        display: flex;
        flex-direction: column; 
        width: 250px;
        height: 250px;
        padding: 20px;

        input {
            margin-top: 20px;
        }
    }
}