.profile-container {
    @extend .page;

    .dislikes-container {
        @extend .box;
        padding: 20px;
        margin-top: 20px;
        width: 80%;
        @media screen and (max-width: $phone-width) {
            padding: 10px;
            width: 95%;
        }
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: 100%;
            text-align: left;
        }

        .input-container {
            margin-top: 25px;
            width: 400px;
            max-width: 80%;

            input {
                margin-bottom: 0;
            }      
            @media screen and (max-width: $phone-width) {
                max-width: 95%;
            }
        }
    }
}