
  .recipe {
      @extend .box;
      width: 80%;
      padding: 10px;
      padding-bottom: 40px;
      @media screen and (max-width: $phone-width) {
        width: 95%;
        padding-bottom: 20px;
      }

    .center {
        width: 100%;
        text-align: center;
    }

    p {
        font-size: $font-size-xs;
    }

    .recipe-preparation-time {
        display: inline;
        img {
            width: 20px;
        }
      }

    .recipePic {
        object-fit: contain;
        width: 100%;
        -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
            box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    }

    &-tables-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5%;
        @media screen and (max-width: $pad-width) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: $phone-width) {
            font-size: $font-size-xs;
        }

        h2 {
            margin: 20px 5px;
        }

        .ingredients-container {
            @extend .box;
            padding: 5px;

            .header-container {
                display: flex;
                flex-direction: column;
                align-content: space-between;
            }

            .ingredients-table {
                display: grid;
                grid-template-columns: auto auto auto auto;
                row-gap: 10px;
                column-gap: 2px;
                word-wrap: break-word;

                &-amount {
                    text-align: right;
                }

                div {
                    margin-left: 20px;
                    @media screen and (max-width: $phone-width) {
                        margin-left: auto;
                    }

                }
            }
        }

        .nutrition-table {
            margin: 10px;
            table, th, td {
                border-collapse: collapse;
                border: 1px solid black;
                padding: 5px;
            }
          }
    }
}



