.subscribe {
    @extend .page;

    &-box {
        @extend .box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;

        p {
            width: 50%;
        }

        &-foodo {
            width: 100%;
            margin: 0 10%;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            img {
                height: 50px;
            }
        }
    }

    &-button {
        margin: 10px 5px;
    }
}