.tags {
    width: 100%;
    padding: 10px;
}

.tag {
    @extend .btn;
    @extend .btn-primary;

    display: inline-flex;
    align-items: baseline;
    font-size: $font-size-s;
    margin: 5px;
    padding: 5px 3px;
    border-radius: 6px;
    @media screen and (max-width: $phone-width) {
        margin: 2px;
        font-size: $font-size-xs;
    }

    div {
        padding: 0 5px;
    }

    img {
        padding-top: 5px;
        height: 15px;
    }
}